@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');


body {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

#addBookButton {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;

}


.fa-bookmark:before {
    content: "\f02e"; 
    font-weight: 900;
    font-size: 18px;
    color: #3ad4df;
    cursor: pointer;
}

.fa-trash{
    content: "\f1f8"; 
    color: red;
}


// .fa-bookmark {
//     font-size: 18px;
//     color: #3ad4df;

//     animation: pulse 1s infinite;
    
// //     animation: fade 2s ease-in-out infinite;
// }

// .fa-trash {
//     color: #cc1967;
// }


// @keyframes fade {
//     0% {
//         opacity: 0.7;
//     }
//     50% {
//         opacity: 1;
//     }
//     100% {
//         opacity: 0.7;
//     }
// }

// @keyframes pulse {
//     0% {
//         transform: scale(1);
//     }
//     50% {
//         transform: scale(1.1);
//     }
//     100% {
//         transform: scale(1);
//     }
// }
